<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Notification Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body{
            margin: 0;
            padding: 0;
            min-width: 100% !important;
        }
    </style>
</head>

<body>
<div>
    <img src="https://imagizer.imageshack.com/v2/30x27q90/r/924/tPHZGk.png" style="float: left; margin-right: 10px;" alt="Store icon" />

    <p style="line-height: 1.5; font-family: 'Didact Gothic', sans-serif;">Hay, Thanks for order.</p>

    <hr style="border: 0.5px solid #b1b1b1;" />
    <table style="width: 100%; margin-top: 20px; margin-bottom: 20px;" border="0">
    </table>
    <hr style="border: 0.5px solid #b1b1b1;" />
</div>
</body>
</html>